<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ProjectConfiguration>
<!-- Written by CDPStudio 2.2.2, 2022-03-24T20:03:55. -->
<qtcreator>
 <data>
  <variable>RemoteNetworks</variable>
  <valuemap type="QVariantMap">
   <valuemap type="QVariantMap" key="NetworkList"/>
  </valuemap>
 </data>
</qtcreator>
